<html>
    <head>
        <title>Access denied</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            h1{
                padding: 5px;
                margin: 10px;
                text-align: left;
            }
            hr{
                padding: 2px;
                margin: 2px;
                height: 0.5px;
                margin-left: 10px;
                margin-right: 10px;
                background: black;
            }
            h3{
                padding: 5px;
                margin: 10px;
            }
            a{
                padding: 5px;
                margin: 10px;
            }
        </style>
    </head>
    <body>
        <h1>Access denied</h1>
        <hr>
        <h3>You are not allowed to access this page. Please Authenticate yourself first.</h3>
        <a href="/"> Click here for authentication.</a>
    </body>
</html>