<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/homepage">PGP Express</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/api/home/key-management">Key Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/home/encrypt">Encrypt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/home/sign">Sign</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/home/sign_verify">Sign Verify</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/api/home/decrypt">Decrypt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/home/teampage">About Us</a>
            </li>
        </ul>
    </div>
</nav>
<div class="main">
    <h1 class="display-4">Decrypt message</h1>
    <hr>

    <br>
    <div class="alert alert-info animated fadeIn">
      <p align="center" style="font-family: 'Montserrat', sans-serif; font-size:18px"><strong>NOTE !</strong> Decryption unlocks an encrypted message sent to you by someone. <b>YOUR PRIVATE KEY</b> will be used to decrypt a message sent to you.</p>
    </div>
    <br>

    <form action="/api/auth/decrypt-message" method="POST">
        <div class="form-group">
            <label for="exampleInputKey1">Enter email</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                placeholder="<%= userEmail %>" value="<%= userEmail %> " required readonly>
            <p id="emailValid" style="color: red"></p>
        </div>
        <button type="submit" id="button_one" class="btn " style="display: inline">Verify</button>
        <div class="form-group" id="message" style="display: none">
            <label for="exampleFormControlTextarea1">Enter the encrypted message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="message" rows="8"
                required></textarea>
        </div>
        <br>
        <button type="submit" id="submit" class="btn " style="display: none">Decrypt</button>
    </form>
    <hr>
    <% if (msg!=1) { %>
    <div class="form-group">
        <label for="revoc-sign">Decrypted Message</label>
        <textarea class="form-control" id="revoc-sign" rows="15" disabled><%= msg %></textarea>
    </div>
    <% } %>
</div>


<script>
    const emailID = {
        email: '<%= userEmail %>'
    };
    var str = "Valid email";
    var userIn = document.getElementById('button_one');
    var ele = document.getElementById("submit");
    var ele1 = document.getElementById("emailValid");
    var ele2 = document.getElementById("message");
    userIn.addEventListener("click", (event) => {
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/api/auth/email", true);
        xhttp.setRequestHeader('Content-Type', 'application/json');
        xhttp.send(JSON.stringify(emailID));
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                if (str.localeCompare(this.responseText) == 0) {
                    ele.style.display = "inline";
                    ele1.style.color = "green";
                    userIn.style.display = "none";
                    ele2.style.display = "inline";
                }
                else {
                    ele.style.display = "none";
                    ele1.style.color = "red";
                }
                document.getElementById("emailValid").innerHTML = this.responseText;
            }
        };

    });
</script>