<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/homepage">PGP Express</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/api/home/key-management">Key Management</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/api/home/encrypt">Encrypt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/home/decrypt">Decrypt</a>
            </li>
        </ul>
    </div>
</nav>
<div class="main">
    <h1 class="display-4">Encrypt message</h1>
    <hr>
    <form action="" method="">
        
        <button type="submit" class="btn btn-primary">Lookup</button>
    </form>
    <hr>
    <form action="/api/auth/encrypt-message" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp"
                placeholder="Enter recepient's email address" required>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Your Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="message" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Encrypt</button>
    </form>
    <hr>
    <% if (msg!=1) { %>
    <div class="form-group">
        <label for="revoc-sign">Encrypted Message</label>
        <textarea class="form-control" id="revoc-sign" rows="15" disabled><%= msg %></textarea>
    </div>
    <% } %>
</div>