<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/homepage">PGP Express</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/api/home/key-management">Key Management <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/home/encrypt">Encrypt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/home/decrypt">Decrypt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/home/sign">Sign</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/home/sign_verify">Sign Verify</a>
            </li>
        </ul>
    </div>
</nav>
<div class="main">
    <% if(value.length) { %>
    <% for(var i=0;i<value.length;i++) { %>
    <div class="flex">
        <h2 class="box">Email : <%= value[i].email%> </h2>
        <h2 class="box">Public_key : <%= value[i].public_key%> </h2>
    </div>
    <hr>
    <br>
    <% } %>
    <% }else{ %>
    <h2> No one has added any public key</h2>
    <% } %>
</div>