<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <style>
        .flex{
            display: flex;
        }
        .box{
            margin: 10px 10px
        }
    </style>
</head>
<body>
        <a href="/" >Back</a> 
        <% if(value.length) { %>
            <% for(var i=0;i<value.length;i++) { %>
                    <div class = "flex">
                        <h2 class= "box">Email : <%= value[i].email%> </h2>
                        <h2 class= "box">Public_key : <%= value[i].public_key%> </h2>
                    </div>
                    <hr>
                    <br>
            <% } %>
        <% }else{ %>
            <h2> No one has added any public key</h2>
        <% } %>

</body>
</html>
