<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">PGP Express</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="key-management">Key Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="encrypt">Encrypt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="decrypt">Decrypt</a>
            </li>
        </ul>
    </div>
</nav>
<div class="main">
    <h1 class="display-4">Home page</h1>
    <hr>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae qui, sed natus iste et debitis quia
        consequatur laboriosam, possimus minus labore aspernatur quaerat praesentium rerum. Ab qui praesentium
        aperiam optio?</p>
</div>