<a href="/">Back</a>
<% if(value.length) { %>
<% for(var i=0;i<value.length;i++) { %>
<div class="flex">
    <h2 class="box">Email : <%= value[i].email%> </h2>
    <h2 class="box">Public_key : <%= value[i].public_key%> </h2>
</div>
<hr>
<br>
<% } %>
<% }else{ %>
<h2> No one has added any public key</h2>
<% } %>