<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/homepage">PGP Express</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/api/home/key-management">Key Management <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/home/encrypt">Encrypt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/home/sign">Sign</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/home/sign_verify">Sign Verify</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/home/decrypt">Decrypt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/home/teampage">About Us</a>
            </li>
        </ul>
    </div>
</nav>
<div class="main">
    <h1 class="display-4">Display key</h1>
    <hr>

    <br>
    <div class="alert alert-info animated fadeIn">
      <p align="center" style="font-family: 'Montserrat', sans-serif; font-size:23px"><strong>NOTE !</strong> Display Key fetches <b>PUBLIC KEY</b> of the requested user from the key server.</p>
    </div>
    <br>

    <% if(public_key.length) { %>
    <div class="form-group"></div>
    <label for="public_key">Public Key</label>
    <textarea class="form-control" id="revoc-sign" rows="30" disabled><%= public_key %></textarea>
</div>
<% } else {%>
<form action="/api/auth/get_key" method="POST">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp"
            placeholder="Enter email" required>
        <p id="emailValid" style="color: red"></p>
    </div>
    <button type="submit" id="submit" class="btn " style="display: none">Display Public Key</button>
</form>
<% } %>
</div>


<script>
    var userIn = document.getElementById('exampleInputEmail1');
    var str = "Valid email";
    var ele = document.getElementById("submit");
    var ele1 = document.getElementById("emailValid");
    userIn.addEventListener("keyup", (event) => {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                if (str.localeCompare(this.responseText) == 0) {
                    ele.style.display = "inline";
                    ele1.style.color = "green";
                }
                else {
                    ele.style.display = "none";
                    ele1.style.color = "red";
                }
                document.getElementById("emailValid").innerHTML = this.responseText;
            }
        };
        xhttp.open("GET", "/api/auth/email/?e=" + userIn.value, true);
        xhttp.send();
    });
</script>