<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/homepage">PGP Express</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="/api/home/key-management">Key Management <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/home/encrypt">Encrypt</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/api/home/sign">Sign</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/home/sign_verify">Sign Verify</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/home/decrypt">Decrypt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/home/teampage">About Us</a>
            </li>
        </ul>
    </div>
</nav>
<div class="main">
    <h1 class="display-4">Sign Message</h1>
    <hr>

    <br>
    <div class="alert alert-info animated fadeIn">
      <p align="center" style="font-family: 'Montserrat', sans-serif; font-size:18px"><strong>NOTE !</strong> Signature are used for authentication to prove that you are a legitimate sender. Digital signatures are generated using <b>YOUR PRIVATE KEY</b>.</p>
    </div>
    <br>

    <form action="/api/auth/hash-sign" method="POST">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                placeholder="<%= userEmail %>" value="<%= userEmail %> " required readonly>
        </div>
        <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control" id="signMessage1" name="message" rows="8"></textarea>
        </div>
        <button type="submit" class="btn ">Generate</button>
    </form>

    <hr>
    <% if (msg!=1) { %>
    <div class="form-group">
        <label for="revoc-sign">Digital Signature</label>
        <textarea class="form-control" id="revoc-sign" rows="15" disabled><%= msg %></textarea>
    </div>
    <% } %>

</div>