<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/homepage">PGP Express</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/api/home/key-management">Key Management <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/home/encrypt">Encrypt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/home/sign">Sign</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/api/home/sign_verify">Sign Verify</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/home/decrypt">Decrypt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/home/teampage">About Us</a>
            </li>
        </ul>
    </div>
</nav>
<div class="main">
    <h1 class="display-4">Sign Verify</h1>
    <hr>
    <form action="/api/auth/sign-verify" method="POST">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp"
                placeholder="Enter recepient's email address" required>
            <p id="emailValid" style="color: red"></p>
        </div>
        <div class="form-group">
            <label for="message">Signature</label>
            <textarea class="form-control" id="signature" name="signature" rows="15"></textarea>
        </div>
        <button type="submit" id="submit" class="btn ">Verify</button>
    </form>

    <hr>
    <% if (msg!=1) { %>
    <div class="form-group">
        <label for="revoc-sign">Digital Signature</label>
        <textarea class="form-control" id="revoc-sign" rows="15" disabled><%= msg %></textarea>
    </div>
    <% } %>

</div>

<script>
    var userIn = document.getElementById('exampleInputEmail1');
    var str = "Valid email";
    var ele = document.getElementById("submit");
    var ele1 = document.getElementById("emailValid");
    ele.disabled = true;
    userIn.addEventListener("keyup", (event) => {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                if (str.localeCompare(this.responseText) == 0) {
                    ele.disabled = false;
                    ele1.style.color = "green";
                }
                else {
                    ele.disabled = true;
                    ele1.style.color = "red";
                }
                document.getElementById("emailValid").innerHTML = this.responseText;
            }
        };
        xhttp.open("GET", "/api/auth/email/?e=" + userIn.value, true);
        xhttp.send();
    });
</script>